img.is-rounded {
  border-radius: 50%;
}

html {
  background-color: #161616;
}

strong {
  color: #8e8e8e
}

p {
  color: #EEEEEE
}

h1, h2, h3, h4, h5, h6 {
  color: #8e8e8e
}

.content h1, h2, h3, h4, h5, h6 {
  color: #8e8e8e !important
}

.entry-content h1, h2, h3, h4, h5, h6 {
  color: #8e8e8e !important
}

.box {
  background-color: #2b2b2b;
  border-radius: 3px;
  color: white;
  box-shadow: none;
}

pre {
  background-color: #2b2b2b;
  color: #f14668;
}

code {
  background-color: #2b2b2b;
  word-break: break-word;
  white-space: pre-wrap;
}

ul.sidebar {
  list-style: disc;
}

ul.blogroll {
  list-style: none; !important
}

.tabs a {
  color: #dbdbdb;
}

a.social-btn {
  color: #EEEEEE;
}

.content p {
  padding-bottom: 0.5em;
}

.entry-content p {
  padding-bottom: 0.5em;
}

.tags a {
  padding-right: 3px;
}

li { 
  color: #8e8e8e
}
