<!DOCTYPE html>
<html lang="{% block html_lang %}{{ DEFAULT_LANG }}{% endblock html_lang %}">
<head>
        {% block head %}
        <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
        <meta charset="utf-8" />
        <meta name="generator" content="Pelican" />
        {% if FEED_ALL_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{% if FEED_ALL_ATOM_URL %}{{ FEED_ALL_ATOM_URL }}{% else %}{{ FEED_ALL_ATOM }}{% endif %}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed" />
        {% endif %}
        {% if FEED_ALL_RSS %}
        <link href="{{ FEED_DOMAIN }}/{% if FEED_ALL_RSS_URL %}{{ FEED_ALL_RSS_URL }}{% else %}{{ FEED_ALL_RSS }}{% endif %}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Full RSS Feed" />
        {% endif %}
        {% if FEED_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{%if FEED_ATOM_URL %}{{ FEED_ATOM_URL }}{% else %}{{ FEED_ATOM }}{% endif %}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
        {% endif %}
        {% if FEED_RSS %}
        <link href="{{ FEED_DOMAIN }}/{% if FEED_RSS_URL %}{{ FEED_RSS_URL }}{% else %}{{ FEED_RSS }}{% endif %}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
        {% endif %}
        {% if CATEGORY_FEED_ATOM and category %}
        <link href="{{ FEED_DOMAIN }}/{% if CATEGORY_FEED_ATOM_URL %}{{ CATEGORY_FEED_ATOM_URL.format(slug=category.slug) }}{% else %}{{ CATEGORY_FEED_ATOM.format(slug=category.slug) }}{% endif %}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Categories Atom Feed" />
        {% endif %}
        {% if CATEGORY_FEED_RSS and category %}
        <link href="{{ FEED_DOMAIN }}/{% if CATEGORY_FEED_RSS_URL %}{{ CATEGORY_FEED_RSS_URL.format(slug=category.slug) }}{% else %}{{ CATEGORY_FEED_RSS.format(slug=category.slug) }}{% endif %}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Categories RSS Feed" />
        {% endif %}
        {% if TAG_FEED_ATOM and tag %}
        <link href="{{ FEED_DOMAIN }}/{% if TAG_FEED_ATOM_URL %}{{ TAG_FEED_ATOM_URL.format(slug=tag.slug) }}{% else %}{{ TAG_FEED_ATOM.format(slug=tag.slug) }}{% endif %}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Tags Atom Feed" />
        {% endif %}
        {% if TAG_FEED_RSS and tag %}
        <link href="{{ FEED_DOMAIN }}/{% if TAG_FEED_RSS_URL %}{{ TAG_FEED_RSS_URL.format(slug=tag.slug) }}{% else %}{{ TAG_FEED_RSS.format(slug=tag.slug) }}{% endif %}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Tags RSS Feed" />
        {% endif %}
        {% endblock head %}

        <!-- CSS -->
        <!-- Bulma -->
        <link href="/theme/css/bulma.css" rel="stylesheet" type="text/css">
        <!-- FontAwesome -->
        <link href="/theme/css/all.css" rel="stylesheet">
        <!-- Custom CSS -->
        <link href="/theme/css/custom.css" rel="stylesheet" type="text/css"> 

</head>

<body id="index" class="home mx-2 px-2">
    <div class="columns pt-2 mt-2">
        <div class="column is-8 is-offset-2">
            <div class="columns mb-0">
                <div class="column is-2 pr-2 mr-2">
                    <header id="banner" class="body">
                        <center>
                        <a href="/">
                            <img class="is-rounded" src="https://via.placeholder.com/150">
                        </a>
                        </center>
                    </header>
                </div>
                <div class="column is-10">
                    <h1 class="py-1 my-1 is-size-1"><a href="{{ SITEURL }}/">{{ SITENAME }}</a></h1>
                    <p>{% if SITESUBTITLE %}{{ SITESUBTITLE }}{% endif %}</p>
                    <p class="has-text-right mt-4 pt-4 pr-2">
                        <i class="fab fa-git-square fa-lg pl-1"></i>
                        <i class="fab fa-youtube-square fa-lg pl-1"></i>
                        <i class="fas fa-user-astronaut fa-lg pl-1"></i>
                        <a href="/feeds/all.atom.xml" class="social-btn">
                            <i class="fas fa-rss-square fa-lg pl-1"></i>
                        </a>
                    </p>
                </div>
            </div>
            <nav id="menu">
                <div class="tabs mb-2 pb-2">
                    <ul>
                        <li><a href="/">Blog</a></li>
                        {% for title, link in MENUITEMS %}
                            <li><a href="{{ link }}">{{ title }}</a></li>
                        {% endfor %}
                        {% if DISPLAY_PAGES_ON_MENU %}
                            {% for p in pages %}
                                <li{% if p == page %} class="is-active"{% endif %}><a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li>             
                            {% endfor %}
                        {% endif %}
                    </ul>
                </div>
            </nav>
            <div class="columns">
                <div class="column is-9">
                    {% block content %}
                    {% endblock %}
                </div>
                <div class="column is-3">
                    {% if DISPLAY_CATEGORIES_ON_MENU %}
                    <div class="box">
                      <h3 class="pb-2">Categories</h3>
                      <ul class="sidebar pl-4">
                          {% for cat, null in categories %}
                            <li{% if cat == category %} class="is-active"{% endif %}><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
                          {% endfor %}
                      </ul>
                    </div>
                    {% endif %}
                </div>
            </div>
            <footer id="contentinfo" class="body">
                    <address id="about" class="vcard body">
                    Static site generated with <a href="https://getpelican.com/">Pelican</a>.
                    Using theme <a href="https://gitlab.com/federalfarmer/simple-and-clean">Simple and Clean</a> by <a href="https://federalfarmer.xyz">Federal Farmer</a>.
                    </address>
            </footer>
        </div>
    </div>
</body>
</html>
