{% if DEFAULT_PAGINATION %}
{% set first_page = articles_paginator.page(1) %}
{% set last_page = articles_paginator.page(articles_paginator.num_pages) %}
<center>
<p class="paginator mt-4 pt-4 pb-2">
    <buttons>
        {% if articles_page.has_previous() %}
            <a href="{{ SITEURL }}/{{ first_page.url }}" class="pr-1">
                <button class="button is-white is-small">
                    <span class="icon is-small">
                        <i class="fas fa-angle-double-left"></i>
                    </span>
                </button>
            </a>
            <a href="{{ SITEURL }}/{{ articles_previous_page.url }}" class="pr-2">
                <button class="button is-white is-small">
                    <span class="icon is-small">
                        <i class="fas fa-angle-left"></i>
                    </span>
                </button>
            </a>
        {% endif %}
        Page {{ articles_page.number }} / {{ articles_paginator.num_pages }}
        {% if articles_page.has_next() %}
        <a href="{{ SITEURL }}/{{ articles_next_page.url }}" class="pl-2">
            <button class="button is-white is-small">
                <span class="icon is-small">
                    <i class="fas fa-angle-right"></i>
                </span>
            </button>
        </a>
        <a href="{{ SITEURL }}/{{ last_page.url }}" class="pl-1">
            <button class="button is-white is-small">
                <span class="icon is-small">
                    <i class="fas fa-angle-double-right"></i>
                </span>
            </button>
        </a>
        {% endif %}
    </buttons>
</p>
</center>
{% endif %}
